@model IEnumerable<EmpApp.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form method="post" asp-controller="Employees" asp-action="Export">
    <input type="submit" value="Export Excel" class="btn btn-success" />
    <p>
        <a asp-action="Create">Create New</a>


    </p>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NationalId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateofBirth)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Age)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AccountId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LineofBusinessId)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NationalId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateofBirth)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Age)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AccountId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LineofBusinessId)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-header">
                            Bar chart
                        </div>
                        <div class="card-body">
                            <div id="chart_div"></div>
                            @*<canvas class="my-4-h-25" id="bar"></canvas>*@
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-header">
                            pie chart
                        </div>
                        <div class="card-body">
                            <div id="piechart" style="width: 300px; height: 300px;"></div>


                        </div>
                    </div>
                </div>
            </div>
        </tbody>
    </table>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
    google.charts.load("current", { packages: ["corechart"] });
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['Language', 'Speakers (in millions)'],
            ['Assamese', 13], ['Bengali', 83], ['Bodo', 1.4],
            ['Dogri', 2.3], ['Gujarati', 46], ['Hindi', 300],

        ]);

        var options = {
            title: 'Employee',
            legend: 'none',
            pieSliceText: 'label',
            slices: {

            },
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));
        chart.draw(data, options);
    }

   

    </script>

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load("visualization", "1", { packages: ["linechart"] });
        google.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Year', 'Sales', 'Expenses'],
                ['2004', 1000, 400],
                ['2005', 1170, 460],
                ['2006', 660, 1120],
                ['2007', 1030, 540]
            ]);

            var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
            chart.draw(data, { width: 400, height: 240, legend: 'bottom', title: 'Company Performance' });
        }
    </script>
